:root{
    --spacing: 1rem;
    font-size: 1rem;
    font-family: 'Helvetica', sans-serif;
}

@media(width>600px) {
    :root{
        font-size: 150%;
    }
}

main,
header{
    padding: var(--spacing);
}

h1{
    @media (width > 800px) {
        font-size: 4rem;
    }
}

h2{

}
p{
    margin-block-start: calc(2*var(--spacing));
}