@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Playfair Display", serif;
    --body-font: "Inter", sans-serif;

    --grey:#5B5B5B;
    --yellow:#FFD971;
}

@media(width>600px) {
    :root{
        font-size: 150%;
    }
}

/* for print
@media print{
    : root{
        --color-bg: white;
        --color-fg: black;
    }
}
    */

header,
footer{
    padding: var(--spacing);
    background-color:var(--grey);
    color: white;
}

section{
    margin-block: calc(3*var(--spacing));
}

h1, h2, h3{
    font-family: var(--heading-font);
    font-weight: 600;
}

h1{
    font-size: 3.5rem;
    font-style: italic;
    color: white;
    /*@media (width > 800px) {
        font-size: 4rem;
    }
        */
}

h2{
    font-size: 3rem;
    color:black;
    background-color:var(--grey);
    padding-inline: var(--spacing);
    padding-block-end: calc(0.7*var(--spacing));
}

h3{
    font-size: 2rem;
    background-color:var(--yellow);
    color:black;
    margin: var(--spacing);
    padding: calc(0.5*var(--spacing));
    inline-size: fit-content;
}

p{
    margin-block-start: var(--spacing);
    font-family: var(--body-font);
    line-height:1.5rem;
    padding-inline: var(--spacing);
}

header p {
  margin: initial;
  padding-inline: initial;
  padding-block: calc(0.5*var(--spacing));
}

header ol{
    display:flex;
    flex-direction:column;
    align-items:start;
}

/* header div ol {
    display: flex;
    flex-direction: column;
    padding-block: calc(-1*var(--spacing));
    align-items: start;
} */

/* h3+p{
    margin-block-start: calc(1.5*var(--spacing));
} */
/* 
.outer-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing);
}

.left-box {
    padding: var(--spacing);
}

.right-box {
    padding: var(--spacing);
} */

section p:first-of-type:first-letter,
section:nth-of-type(3) p:nth-of-type(2)::first-letter {
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: 600;
}

.h1-em {
    font-weight: 600;
    font-family: var(--body-font);
    font-style: normal;
    color:var(--yellow);
}

.bold-text{
    font-weight: 700;
}

blockquote{
    background-color: var(--yellow);
    padding-block:calc(2*var(--spacing));
    padding-inline: var(--spacing);
    font-family: var(--heading-font);
    font-size:1.4rem;
}

blockquote ol{
    display:flex;
    flex-direction:row;
    column-gap:calc(0.5*var(--spacing));
}

a{
    color: var(--black);
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 10%;
    &:hover {
    color: var(--black);
    background: var(--yellow);
    }
}

.conclusion{
    background-color: var(--yellow);
    padding-block: var(--spacing);
    margin-block-end:initial;
}